#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_PIPE_VALIDATOR DIALOGEX 0, 0, 178, 124
STYLE DS_SETFONT | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "NppGrandFantasia"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Abra um INI com cabecalho |V.x|QtdPipe|.", IDC_STATUS_TEXT, 4, 4, 170, 19, SS_LEFT
    CONTROL         "", IDC_ERROR_LIST, "SysListView32", WS_TABSTOP | WS_BORDER | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS, 4, 24, 170, 76
    CONTROL         "Auto", IDC_AUTO_VALIDATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 4, 105, 34, 14
    PUSHBUTTON      "Cores...", IDC_PIPE_COLORS, 91, 103, 39, 17
    PUSHBUTTON      "Validar", IDC_VALIDATE_NOW, 134, 103, 40, 17
END

IDD_PIPE_COLORS DIALOGEX 0, 0, 230, 190
STYLE DS_SETFONT | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Cores e destaque"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Quantidade de cores dos pipes:", IDC_STATIC, 8, 10, 112, 10
    COMBOBOX        IDC_PIPE_COLOR_COUNT, 124, 8, 72, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "A sequencia reinicia em cada linha.", IDC_STATIC, 8, 28, 214, 10
    CONTROL         "", IDC_PIPE_COLOR_1, "Button", BS_OWNERDRAW | WS_TABSTOP, 8, 43, 49, 27
    CONTROL         "", IDC_PIPE_COLOR_2, "Button", BS_OWNERDRAW | WS_TABSTOP, 62, 43, 49, 27
    CONTROL         "", IDC_PIPE_COLOR_3, "Button", BS_OWNERDRAW | WS_TABSTOP, 116, 43, 49, 27
    CONTROL         "", IDC_PIPE_COLOR_4, "Button", BS_OWNERDRAW | WS_TABSTOP, 173, 43, 49, 27
    LTEXT           "Destaque dos IDs de registros validos:", IDC_STATIC, 8, 80, 190, 10
    CONTROL         "", IDC_VALID_ID_COLOR, "Button", BS_OWNERDRAW | WS_TABSTOP, 8, 94, 214, 24
    LTEXT           "Cor dos caracteres em registros invalidos:", IDC_STATIC, 8, 124, 214, 10
    CONTROL         "", IDC_BROKEN_TEXT_COLOR, "Button", BS_OWNERDRAW | WS_TABSTOP, 8, 138, 214, 24
    PUSHBUTTON      "Padrao", IDC_PIPE_COLORS_DEFAULT, 8, 164, 55, 19
    DEFPUSHBUTTON   "OK", IDOK, 112, 164, 52, 19
    PUSHBUTTON      "Cancelar", IDCANCEL, 170, 164, 52, 19
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,6,0,0
 PRODUCTVERSION 0,6,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "ShadowGarden\0"
            VALUE "FileDescription", "NppGrandFantasia - ferramentas para Grand Fantasia\0"
            VALUE "FileVersion", "0.6.0\0"
            VALUE "InternalName", "NppGrandFantasia\0"
            VALUE "OriginalFilename", "NppGrandFantasia.dll\0"
            VALUE "ProductName", "NppGrandFantasia\0"
            VALUE "ProductVersion", "0.6.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
